### Imports

In [1]:
# Imports 
import pandas as pd
import numpy as np

### Loading Data Sets

In [2]:
# URLs for each dataframe needed
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
# Loading the data for basics
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
# Loading the data for ratings
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=True)
ratings.head()

### Loading and Cleaning Large Akas Dataset

In [ ]:
chunk_num = 1
df_reader = pd.read_csv(akas_url, sep='\t',
                        low_memory=False, chunksize=100_000)

In [ ]:
# Due to akas dataset  being so large in size, I will have to download it in smaller chunks
for temp_df in df_reader:
    # Replacing the '\N' with np.nan
    temp_df.replace({'\\N':np.nan}, inplace=True)
    # Limiting to just movies in the US
    temp_df = temp_df[(temp_df['region'] == 'US')] 
    
    ### Saving chunk to disk
    fname= f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
    temp_df.to_csv(fname, compression='gzip')
    print(f"- Saved {fname}")
    
    ## increment chunk_num    
    chunk_num+=1
## Closing the reader now that we are done looping through the file
df_reader.close()

In [ ]:
# Using the glob module to now bring the seperated parts together
import glob
q = "Data/title_akas_chunk*.csv.gz"
chunked_files = glob.glob(q)
# Showing the first 5
chunked_files[:5]